{% extends 'base.html.twig' %}

{% block title %}Ani Versere{% endblock %}

{% block body %}
<style>
    .page-title{ margin: 1em auto; }
    .image { max-width: 80%; height:auto; }
    .btn { background-color: #b6b1b5; border: 1px solid #70185d; color: #70185d;}
    .btn:hover{ background-color: #a87a9e; border: 2px solid #70185d; box-shadow: 2px 2px 2px 2px #7a787a;}
    .btn a { color: #70185d; text-decoration:none; }
     a.page-link {color: #70185d;}
    .active a.page-link {color:blanchedalmond; background-color:#772953; border-color: #70185d}
    .active a.page-link:hover {color:teal;} 

    .size {
    padding: 5px;
    overflow: hidden; /* Обрезаем содержимое */ 
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
     /* text-overflow: ellipsis;
     white-space: nowrap; */
    }
    /* .size:hover {
    white-space: normal; 
    }  */   
</style>

    <h1 class="page-title">{% trans %}Works of artists!{% endtrans %} </h1>
  
    <div class="navigation">
        {{ knp_pagination_render(produits) }}
    </div>
    <br>  
    {% for produit in produits %}
    <div class="container">
        <div class="row d-flex justify-content-between">
            
            <div class="col-12 col-sm-12 col-md-6">
                
                <img src="{{ asset('images/') }}{{ produit.image }}" alt="{{ produit.titre}}" class="image"> 
                    
            </div>
            
            <div class="col-12 col-sm-12 col-md-6">
                <h4><a href="{{ path('versere_show', { id :produit.id }) }}" style="color:#ECEFF1;">{{ produit.titre }}</a></h4>
                
                <p>{{ produit.resume }}</p>
               
                <div  class="size"><p>{{ produit.paragraph }}</p></div>
                <br>
                <a href="{{ path('versere_show', {id :produit.id}) }}" class="btn">Voire plus...</a>
                
                <a href="{{ path('cart_add', {'id':produit.id}) }}" class="btn btn-success ml-2"><i class="fas fa-shopping-cart mr-1"></i>Ajouter</a>
            
            </div>
        </div>
    </div>
    <hr>
    
    {% endfor %} 
    <div class="navigation">
        {{ knp_pagination_render(produits) }}
    </div>

{% endblock %}
