{% extends 'base.html.twig' %}

{% block title %}Œuvres d'artistes{% endblock %}

{% block body %}

<style>
    .content img {width: 300px; height:auto;}
    .h2 {margin:30px auto;}
</style>

    <div class="content">
        <h2 class="h2">Description détaillée de la peinture</h2>
        
        <img src="{{ asset('images/') }}{{ produit.image }}" alt="{{ produit.titre}}">
        
        <br><br><br>
        <h4>{{ produit.titre}}</h4>
        <p>{{ produit.resume }}</p>
        
        
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse, officia dolorem. Dolore a cupiditate perferendis veritatis praesentium cum est, consectetur ex, sit quae, totam tenetur? Earum exercitationem totam optio eius!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse, officia dolorem. Dolore a cupiditate perferendis veritatis praesentium cum est, consectetur ex, sit quae, totam tenetur? Earum exercitationem totam optio eius!</p>
        
    </div>
  
    
  
   

{% endblock %}